<div class="container">
     <dir align="center">
          
          <a href="https://www.facebook.com/Tinnakorn.Me" style="color:black" class="font">
               <img src="../../assets/images/icons8-facebook-500.png" width="40px">
               ©Tinnakorn Meejantan סּ͡͡_סּ͡
          </a>
          <a href="https://www.facebook.com/kardRacing" style="color:black" class="font">
               <img src="../../assets/images/icons8-facebook-500.png" width="40px">
               ©Pissanu Kumngok סּ͡͡_סּ͡
          </a>
          
          
     </dir>
</div>

