<router-outlet></router-outlet>
<a routerLink="/home">Home</a> &nbsp;
<!-- <button (click)='BT_Test_Mean()'>BT_Test_Mean</button>
<button (click)='BT_Test_Location()'>BT_Test_Location</button>

<div class='agm-map-container-inner sebm-google-map-container-inner'>
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom" 
    (mapReady)="onMapLoad($event)"
    (mapClick)="onTest($event)"
  >
    
  <agm-marker
    [latitude]="this.alldata.latitude"
    [longitude]="this.alldata.longitude"
    [markerDraggable]="true"
  >
  </agm-marker>
  
  </agm-map>
    
</div> -->




  
 