.box {
    background-color: var(--surface-e);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
 }
 .box-stretched {
    height: 100%;
 }

 .vertical-container {
    margin: 0;
    height: 200px;
    background: var(--surface-d);
    border-radius: 4px;
 }

/* body, html {
     height: 100%;
}   */
.bg {
    /* background: url("../../assets/images/background2.jpg"); */
    height: 800px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .4s ease;
}
.page-content img {
    max-width: 100%;
    height: auto!important;
}
.font{
    font-family: 'Itim', cursive;
    font-size: 25px;
}
/* body {
    background-color: #fefbd8;
  } */
  
.dataColor {
    background-color: #94b8a2;
}
.dataColor1 {
    background-color: #cf1937;
}

.team{
    background-color: #94b8a2;
}
.team1{
    background-color: #cf1937;
}
/* div {
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
    background-clip: padding-box;
} */

span {
    background-color: #f18973;
}

.banner {
    margin: 0;
    font-size: 80% /*smaller*/;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    position: fixed;
    top: 100;
    /* left: auto; */
    right: 0%;
}
.banner1 {
    margin: 0;
    font-size: 80% /*smaller*/;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    position: fixed;
    top: 40;
    /* left: auto; */
    right: 0%;
}

h2 {
    width: 100%; 
    text-align: center; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
 }

 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 37;
    right: 0;
    /* background-color: rgb(199, 216, 213); */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #000000;
    display: block;
    transition: 0.3s;
    font-family: 'Itim', cursive;
    font-size: 25px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-family: 'Itim', cursive;
    font-size: 36px;
    margin-left: 50px;
}
  