.page-content img {
    max-width: 100%;
    height: auto!important;
}
agm-map {
    height: 100%;
    width: 100%;
    position: absolute;
}

.right {
    float: right;
}
/* .button{
    height: 30px;
    width: 70px;
} */