<!-- <app-header></app-header> -->

<agm-map
  [latitude]="latCenter"
  [longitude]="lngCenter"
  [zoom]="zoom" 
  [zoomControl]="true"
  [disableDefaultUI]="false"
  [mapTypeControl]="true"
  [scaleControl]="true"
  [streetViewControl]="true"
  [fullscreenControl]="true"
  [rotateControl]="true"
  [minZoom]="5"
  
  (zoomChange)="zoomChange($event)"
  (mapReady)="onMapLoad($event)"
  (mapClick)="onChoseLocation($event)">

  <a id="home" type="button" routerLink="/home"><img src="./assets/images/icons8-home-automation-64.png"  width="60px"></a>
  <a id="myLocation" type="button" (click)="myLocation()"><img src="./assets/images/icons8-location-update-96.png"  width="60px"></a>

  <div id="changSF" class="controls mode-selector">
    <input type="radio" name="type" (click)="sf7()" checked="checked"/>
    <label for="changemode-walking">sf 7</label> &nbsp;
  
    <input type="radio" name="type" (click)="sf9()"/>
    <label for="changemode-transit">sf 9</label> &nbsp;
  
    <input type="radio" name="type" (click)="sf12()"/>
    <label for="changemode-driving">sf 12</label> &nbsp;
    
    <input type="radio" name="type" (click)="Allsf()"/>
    <label for="changemode-driving">All sf</label> 

    <input type="radio" name="type" (click)="toggleHeatmap()"/>
    <label for="changemode-driving">hide</label> 
  </div>

  <div id="DataCollDemo" class="controls mode-selector">
    <input type="radio" name="type" (click)="DataCollDemo()"/>
    <label for="changemode-walking">Demo</label> &nbsp;
  
  </div>
  
  <!-- <agm-marker 
    [latitude]="this.latCenter"
    [longitude]="this.lngCenter"
    [label]="'L'">
    *ngFor="ngOnInit"
    <agm-info-window>
      <h6 align="center">Your Location</h6>
      <p align="center">
        {{this.latCenter}}, {{this.lngCenter}} <br>
        accuracy: {{this.accuracy}}
      </p>
    </agm-info-window>
  </agm-marker> -->



  <agm-marker 
    [latitude]=16.246627494203636
    [longitude]=103.25215825338576
    [iconUrl]="{url: './assets/images/wifi.png',labelOrigin:{x:22.5,y:20}, scaledSize: {height: 55,width: 55}}"
    animation="BOUNCE">
    <agm-info-window>
      <strong>Gateway 2</strong>
    </agm-info-window>
  </agm-marker>
  <agm-marker 
    [latitude]=16.240459186712496
    [longitude]=103.25696399125086
    [iconUrl]="{url: './assets/images/wifi.png',labelOrigin:{x:22.5,y:20}, scaledSize: {height: 55,width: 55}}"
    animation="BOUNCE">
    <agm-info-window>
      <strong>Gateway 1</strong>
    </agm-info-window>
  </agm-marker>


  <agm-marker
    [latitude]="this.make_lat"
    [longitude]="this.make_long"
    [markerDraggable]="false"
    animation="DROP"
    label="s"
    *ngIf="onChoseLocation">
    <agm-info-window>
      <h6 align="center">ค่าเฉลี่ยความแรงของสัญญาณ</h6>
      <p align="center">
        lat: {{mean_latitude}}, lng: {{mean_longitude}} <br>
        rssi: {{mean_rssi}}, snr: {{mean_snr}} <br>
        GW1: {{distanceGW1}} เมตร, GW2: {{distanceGW2}} เมตร <br>
        จากเกตเวย์: {{fromgateway}} <br>
        <a class="right" routerLink="/home">Details</a>
      </p>
    </agm-info-window>
  </agm-marker>

</agm-map>
