<app-header></app-header>

<div class='agm-map-container-inner sebm-google-map-container-inner'>
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom" 

    (zoomChange)="zoomChange($event)"
    (mapReady)="onMapLoad($event)"
    (mapClick)="onChoseLocation($event)"
  >

  <agm-marker
    [latitude]="this.make_lat"
    [longitude]="this.make_long"
    [markerDraggable]="true"
  >
    <agm-info-window>
      <h6 align="center">ค่าเฉลี่ยความแรงของสัญญาณ</h6>
      <p align="center">
        {{mean_latitude}}, {{mean_longitude}} <br>
        rssi: {{mean_rssi}}, snr: {{mean_snr}} <br>
        <a class="right" routerLink="/home">Details</a>
      </p>
    </agm-info-window>
  </agm-marker>
  
  </agm-map>
</div>